@import 'src/styles/colors.scss';

.main-input {
  background-color: $white;
  border: 0.2rem solid $background-header-color;
  border-radius: 2px;
  color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
