@import './src/styles/colors.scss';

.app {
  color: $secondary-color;
  text-align: center;
  height: 100vh;

  .app_body {
    align-items: center;
    display: flex;
    height: 50rem;
    justify-content: center;
    width: 100%;
  }

  .app_footer-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
