$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #fff;
$white-transparent: #ffffff61;
$black: #000;
$black-transparent: #0003;

$background-header-color: #ccd5da;
$highlighted-title-blue-color: #40c3df;
