@import '../assets/icomoon/style.css';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-size: 60%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  margin: 0;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

input:focus {
  border-color: red;
}

input:active {
  border-color: brown;
}
