@import 'src/styles/colors.scss';

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;

  h2 {
    margin: 0.6rem 0;
    text-align: start;
  }

  .title_underline {
    background-color: $highlighted-title-blue-color;
    height: 0.2rem;
    width: 3rem;
  }
}
