@import 'src/styles/colors.scss';

.window {
  background-color: $white-transparent;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;

  .window_modal {
    background-color: $white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: auto;
    position: relative;
    top: 3%;
    width: 96%;

    .window_modal-body {
      background: $white;
      border-radius: 0 0 0.2rem 0.2rem;
      -moz-box-shadow: 0 0 10px 0 $black-transparent;
      -webkit-box-shadow: 0 0 10px 0 $black-transparent;
      box-shadow: 0 0 10px 0 $black-transparent;
      padding: 2rem 6rem;
      position: relative;
    }
  }
}

@media screen and (max-width: 500px) {
  .window {
    .window_modal {
      .window_modal-body {
        padding: 1rem;
      }
    }
  }
}
