@import 'src/styles/colors.scss';

.window {
  background-color: $white-transparent;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;

  .window_modal {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: auto;
    position: relative;
    top: 3%;
		width: 96%;
		border-radius: 0.2rem;

    .window_modal-body {
      -moz-box-shadow: 0px 0px 10px 0px $black-transparent;
      -webkit-box-shadow: 0px 0px 10px 0px $black-transparent;
      background: $white;
      box-shadow: 0px 0px 10px 0px $black-transparent;
      position: relative;
			padding: 2rem 6rem;
			border-radius:	0 0 0.2rem 0.2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .window {
    .window_modal {

      .window_modal-body {
        padding: 1rem;
      }
    }
  } 
}
